<div *ngIf="authService.isLoading" class="loading_spinner-container">
  <app-loading-spinner></app-loading-spinner>
</div>

<div class=" unexo__frame">
  <div class="unexo__bg--clip">

  </div>
  <div class="unexo__bg--clip-child">

  </div>
  <div class="unexo__slider">
    <!-- <img class="unexo__slider--bg"
      src="../../../assets/images/cropped-business-man-making-notes-from-his-smartphone-calendar-organizer-min.jpg"
      alt="" srcset="" /> -->
    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"> -->
    <!-- <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol> -->
    <!-- <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../../assets/images/img3.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../assets/images/img2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../assets/images/img1.jpg" alt="Third slide">
        </div>
      </div> -->
    <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
    <!-- </div> -->
  </div>
  <div class="unexo__login--card">
    <div class="unexo__flex--col" *ngIf="authService.loggedIn() && authService.usertype=='candidate'"
      style="width: 100%; position: relative;">
      <br><br><br><br><br>
      <img class="unexo__form--logo " style="margin: auto;" src="../../../assets/images/UnexoLogo.png" alt="" srcset="">

      <h1 style="text-align: center;">GO TO MY PROFILE</h1>
      <button class="unexo__primary--btn" type="button" style="font-size: 1.6rem;"
        (click)="authService.routeWithStatus()">Profile</button>
      <br><br><br><br><br><br><br><br>

    </div>
    <div class="unexo__flex--col" *ngIf="authService.loggedIn() && hrservice.usertype=='hr'"
      style="width: 100%; position: relative;">
      <br><br><br><br><br>
      <img class="unexo__form--logo " style="margin: auto;" src="../../../assets/images/UnexoLogo.png" alt="" srcset="">

      <h1 style="text-align: center;">GO TO MY PROFILE</h1>
      <button class="unexo__primary--btn" type="button" style="font-size: 1.6rem; "
        (click)="hrservice.routeWithStatus()">Profile</button>
      <br><br><br><br><br><br><br><br>

    </div>
    <div class="unexo__flex--col" *ngIf="authService.loggedIn() && adminloginservice.usertype=='admin'"
      style="width: 100%; position: relative;">
      <br><br><br><br><br>
      <img class="unexo__form--logo " style="margin: auto;" src="../../../assets/images/UnexoLogo.png" alt="" srcset="">

      <h1 style="text-align: center;">GO TO MY PROFILE</h1>
      <button class="unexo__primary--btn" type="button" style="font-size: 1.6rem; "
        routerLink="/admin-profile">Profile</button>
      <br><br><br><br><br><br><br><br>

    </div>

    <div *ngIf="!authService.loggedIn()" class="unexo_login" id="unexologin">
      <form #LogIn="ngForm" autocomplete="on" (ngSubmit)="onLogIn(LogIn)">
        <img class="unexo__form--logo" src="../../../assets/images/UnexoLogo.png" alt="" srcset="">
        <h2>Candidate &nbsp; Log in</h2>
        <input type="email" ngModel name="email" #emailli="ngModel" placeholder="Email" email required>
        <div class="form_validate" *ngIf="emailli.invalid && emailli.touched">
          Enter a Valid Email.
        </div>
        <div id="unexopassword">

          <input id="pass" [type]="showPassword ? 'text' : 'password'" ngModel name="password" #passwordlogin="ngModel"
            placeholder="Password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}"
            required>
          <i [ngClass]="showPassword?'far fa-eye ': 'far fa-eye-slash'" id="unexopasswordlogo"
            (click)="togglepassword()"></i>
          <div class="form_validate" *ngIf="passwordlogin.invalid && passwordlogin.touched">
            Enter Password.
          </div>
        </div>

        <div class="unexo__button--container mb-4">
          <button class="unexo__primary--btn btn--width" type="submit" [disabled]="!LogIn.valid">Log In</button>
          <button class="unexo__primary--btn btn--width" type="button" (click)="SignUpSwitch()">Sign Up</button>

        </div>
        <div class="unexo-signup-ques">
          <p>Not Yet Registered?</p> &nbsp;
        </div>
        <a routerLink="/forgot-password">Forgot password?</a>

      </form>


    </div>
    <div *ngIf="!authService.loggedIn()" class="unexo_signup" id="unexosignup">
      <form #SignUp="ngForm" (ngSubmit)="onSignUp(SignUp)">
        <img class="unexo__form--logo" src="../../../assets/images/UnexoLogo.png" alt="" srcset="">
        <h2>Sign Up Here</h2>
        <input type="text" name="firstName" ngModel minlength="3" pattern="^[a-zA-Z ]*$" maxlength="15"
          placeholder="First Name " #firstName="ngModel" required>
        <div class="form_validate" *ngIf="firstName.invalid && firstName.touched">
          First Name is required . Numbers & Special Characters Not Allowed.
          Minimum length Should be 3.
        </div>
        <input type="text" name="lastName" ngModel minlength="3" pattern="^[a-zA-Z ]*$" maxlength="15"
          placeholder="Last Name" #lastName="ngModel" required>
        <div class="form_validate" *ngIf="lastName.invalid && lastName.touched">
          Last Name is required . Numbers & Special Characters Not Allowed.
          Minimum length Should be 3.
        </div>
        <input type="email" name="email" ngModel #email="ngModel" placeholder="Email" email required>
        <div class="form_validate" *ngIf="email.invalid && email.touched">
          Enter a Valid Email.
        </div>
        <input type="number" name="phoneNo" id="phoneNo" ngModel #phoneNo="ngModel" placeholder="Mobile No"
          pattern="^[0-9]{10}$" minlength=10 maxlength="10" required>
        <div class="form_validate" *ngIf="phoneNo.invalid && phoneNo.touched">
          Enter a Valid 10 digit Mobile No.
        </div>
        <div id="unexopassword">

          <input id="pass1" [type]="showPassword ? 'text' : 'password'" name="password" ngModel #password="ngModel"
            placeholder="Password" required
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}">
          <i [ngClass]="showPassword?'far fa-eye ': 'far fa-eye-slash'" id="unexopasswordlogo"
            (click)="togglepassword()"></i>

          <div class="form_validate" *ngIf="password.invalid && password.touched">
            Password minimum length should be 8 digits And should include atleast one lowercase,one uppercase,one number
            and one special charcater and no spaces allowed.
          </div>
        </div>
        <div id="unexopassword">

          <input id="pass2" [type]="showPassword ? 'text' : 'password'" name="confirmPassword" ngModel
            #confirmPassword="ngModel" placeholder="Confirm Password"
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" required>
          <i [ngClass]="showPassword?'far fa-eye ': 'far fa-eye-slash'" id="unexopasswordlogo"
            (click)="togglepassword()"></i>

          <div class="form_validate" *ngIf="confirmPassword.invalid && confirmPassword.touched">
            Password minimum length should be 8 digits And should include atleast one lowercase,one uppercase,one number
            and one special charcater and no spaces allowed.

          </div>
        </div>
        <div class="form_validate" *ngIf="matchPassword">
          Password did not match.
        </div>
        <input type="text" ngModel name="referralCode" maxlength="20" placeholder="Referral Code">
        <input type="text" [(ngModel)]="candidate" name="userType" hidden>
        <div
          style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:100 100;-webkit-transform-origin:100 100;">
          <re-captcha (resolved)="resolved($event)" siteKey="6LeyFuIZAAAAAPruOXL6x_X8OXCwDnXxC3zItyp7" required>
          </re-captcha>
        </div>

        <div class="form_validate" *ngIf="verifyCaptcha">
          <br>
          Please Tick The Recaptcha Box.
        </div>
        <br>
        <div class="unexo__button--container mb-1">
          <button class="unexo__primary--btn btn--width" type="submit" [disabled]="!SignUp.valid">Sign Up</button>
          <button class="unexo__primary--btn btn--width" type="button" (click)="LogInSwitch()">Log In</button>

        </div>
      </form>
      <div class="unexo-signup-ques">
        <p>Already Member?</p> &nbsp;
      </div>
    </div>
  </div>
</div>

<!-- <div class="row ">
  <div class="col-xl-8 ">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../../assets/images/img3.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../assets/images/img2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../assets/images/img1.jpg" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-xl-4">
    <div *ngIf="authService.loggedIn() && authService.usertype=='candidate'" style="width: 100%; position: relative;">
      <br><br><br><br><br>
      <h1 style="text-align: center;">GO TO MY PROFILE</h1>
      <button type="button"
        style="font-size: 1.6rem; margin:2rem auto; position: absolute;left:50%;transform: translateX(-50%);"
        (click)="authService.routeWithStatus()">Profile</button>
      <br><br><br><br><br><br><br><br>

    </div>
    <div *ngIf="authService.loggedIn() && hrservice.usertype=='hr'" style="width: 100%; position: relative;">
      <br><br><br><br><br>
      <h1 style="text-align: center;">GO TO MY PROFILE</h1>
      <button type="button"
        style="font-size: 1.6rem; margin:2rem auto; position: absolute;left:50%;transform: translateX(-50%);"
        (click)="hrservice.routeWithStatus()">Profile</button>
      <br><br><br><br><br><br><br><br>

    </div>
    <div *ngIf="authService.loggedIn() && adminloginservice.usertype=='admin'" style="width: 100%; position: relative;">
      <br><br><br><br><br>
      <h1 style="text-align: center;">GO TO MY PROFILE</h1>
      <button type="button"
        style="font-size: 1.6rem; margin:2rem auto; position: absolute;left:50%;transform: translateX(-50%);"
        routerLink="/admin-profile">Profile</button>
      <br><br><br><br><br><br><br><br>

    </div>
    <div *ngIf="authService.loggedIn() && adminloginservice.usertype=='admin'" style="width: 100%; position: relative;">
      <br><br><br><br><br>
      <h1 style="text-align: center;">GO TO ADMIN PROFILE PAGE</h1>
      <button type="button"
        style="font-size: 1.6rem; margin:2rem auto; position: absolute;left:50%;transform: translateX(-50%);"
        routerLink="/admin-profile">Admin Profile</button>
      <br><br><br><br><br><br><br><br>

    </div>
    <div *ngIf="!authService.loggedIn()" class="unexo_login" id="unexologin">
      <form #LogIn="ngForm" autocomplete="on" (ngSubmit)="onLogIn(LogIn)">
        <h2>Candidate Log In Here</h2>
        <input type="email" ngModel name="email" #emailli="ngModel" placeholder="Email" email required>
        <div class="form_validate" *ngIf="emailli.invalid && emailli.touched">
          Enter a Valid Email.
        </div>
        <input type="password" ngModel name="password" #passwordlogin="ngModel" placeholder="Password" required>
        <div class="form_validate" *ngIf="passwordlogin.invalid && passwordlogin.touched">
          Enter Password.
        </div>
        <button type="submit" [disabled]="!LogIn.valid">Log In</button>
      </form>
      <a routerLink="/forgot-password">Forgot password?</a>
      <hr>
      <div class="unexo-signup-ques">
        <p>Not Yet Registered?</p> &nbsp;
        <button type="button" (click)="SignUpSwitch()">Sign Up</button>
      </div>
    </div>
    <div *ngIf="!authService.loggedIn()" class="unexo_signup" id="unexosignup">
      <form #SignUp="ngForm" (ngSubmit)="onSignUp(SignUp)">
        <h2>Sign Up Here</h2>
        <input type="text" name="firstName" ngModel minlength="3" pattern="^[a-zA-Z ]*$" maxlength="15"
          placeholder="First Name" #firstName="ngModel" required>
        <div class="form_validate" *ngIf="firstName.invalid && firstName.touched">
          First Name is required . Numbers & Special Characters Not Allowed.
          Minimum length Should be 3.
        </div>
        <input type="text" name="lastName" ngModel minlength="3" pattern="^[a-zA-Z ]*$" maxlength="15"
          placeholder="Last Name" #lastName="ngModel" required>
        <div class="form_validate" *ngIf="lastName.invalid && lastName.touched">
          Last Name is required . Numbers & Special Characters Not Allowed.
          Minimum length Should be 3.
        </div>
        <input type="email" name="email" ngModel #email="ngModel" placeholder="Email" email required>
        <div class="form_validate" *ngIf="email.invalid && email.touched">
          Enter a Valid Email.
        </div>
        <input type="number" name="phoneNo" id="phoneNo" ngModel #phoneNo="ngModel" placeholder="Mobile No"
          pattern="^[0-9]{10}$" minlength=10 maxlength="10" required>
        <div class="form_validate" *ngIf="phoneNo.invalid && phoneNo.touched">
          Enter a Valid 10 digit Mobile No.
        </div>
        <input type="password" name="password" ngModel #password="ngModel" placeholder="Password" required
          pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
        <div class="form_validate" *ngIf="password.invalid && password.touched">
          Password minimum length should be 8 digits And should include atleast one lowercase,one uppercase,one number
          and one special charcater.
        </div>
        <input type="password" name="confirmPassword" ngModel #confirmPassword="ngModel" placeholder="Confirm Password"
          pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" required>
        <div class="form_validate" *ngIf="confirmPassword.invalid && confirmPassword.touched">
          Password minimum length should be 8 digits And should include atleast one lowercase,one uppercase,one number
          and one special charcater.

        </div>
        <div class="form_validate" *ngIf="matchPassword">
          Password did not match.
        </div>
        <input type="text" ngModel name="referralCode" maxlength="20" placeholder="Referral Code">
        <input type="text" [(ngModel)]="candidate" name="userType" hidden>
        <re-captcha (resolved)="resolved($event)" siteKey="6LeyFuIZAAAAAPruOXL6x_X8OXCwDnXxC3zItyp7" required>
        </re-captcha>
        <div class="form_validate" *ngIf="verifyCaptcha">
          <br>
          Please Tick The Recaptcha Box.
        </div>
        <br>
        <button type="submit" [disabled]="!SignUp.valid">Sign Up</button>
      </form>
      <hr>
      <div class="unexo-signup-ques">
        <p>Already Member?</p> &nbsp;
        <button type="button" (click)="LogInSwitch()">Log In</button>
      </div>
    </div>
  </div>
</div> -->
