<!-- <div class="unexo__footer">
  <div class="row">
    <div class="col-md-4">
      <div class="footer_logo">
        <img src="../../../assets/images/Asset 12FinalWhiteY.png" alt="">
      </div>
    </div>
    <div class="col-md-8">
      <div class="footer_links">
        <div class="footer_links-section">
          <h4>Home</h4>
          <a routerLink="opportunity" routerLinkActive="active">Opportunity</a>
          <a routerLink="corporate" routerLinkActive="active">Corporate Information</a>
          <a routerLink="">Media Release</a>
          <a routerLink="">Carrer</a>
          <a routerLink="">Product</a>
          <a routerLink="">Services</a>
          <a routerLink="">Digital</a>
          <a routerLink="">Solutions/Community</a>
        </div>
        <div class="footer_links-section">
          <h4>About Us</h4>
          <a routerLink="who-we-are" routerLinkActive="active">Who We Are</a>
          <a routerLink="what-we-do" routerLinkActive="active">What We Do</a>
          <a routerLink="why-join-unexo" routerLinkActive="active">Why Join UNEXO</a>
          <a routerLink="culture" routerLinkActive="active">Culture</a>
          <a routerLink="">Privacy Policy</a>
          <a routerLink="">Vision And Mission</a>
          <a routerLink="">Management Team</a>
          <a routerLink="">Purpose</a>
        </div>
        <div class="footer_links-section">
          <h4>Industry</h4>
          <a routerLink="">Technology</a>
          <a routerLink="">Education</a>
          <a routerLink="">Government</a>
          <a routerLink="">Financial Services</a>
        </div>
        <div class="footer_links-section">
          <h4>Offering</h4>
          <a routerLink="training" routerLinkActive="active">Training</a>
          <a routerLink="skill-development" routerLinkActive="active">Skill Development</a>
          <a routerLink="consulting" routerLinkActive="active">Consulting</a>
          <a routerLink="funds-raising" routerLinkActive="active">Funds Raising</a>
          <a routerLink="merger" routerLinkActive="active">Merger and Aquision</a>
          <a routerLink="global" routerLinkActive="active">Global Market Research</a>
        </div>
        <div class="footer_links-section">
          <h4>Contact Us</h4>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="unexo__footer">
  <div class="unexo__footer--left">
    <div class="unexo__footer--section">
      <!-- <img src="../../../assets/images/Asset 12FinalWhiteY.png" alt="" srcset=""> -->
    </div>

  </div>
  <div class="footer_links">
    <div class="footer_links-section">
      <h4>Home</h4>
      <!-- <a routerLink="opportunity" routerLinkActive="active">Opportunity</a>
      <a routerLink="corporate" routerLinkActive="active">Corporate Information</a> -->
      <a routerLink="">Opportunity</a>
      <a routerLink="">Corporate Information</a>
      <a routerLink="">Media Release</a>
      <a routerLink="">Carrer</a>
      <a routerLink="">Product</a>
      <a routerLink="">Services</a>
      <a routerLink="">Digital</a>
      <a routerLink="">Solutions/Community</a>
    </div>
    <div class="footer_links-section">
      <h4>About Us</h4>
      <a routerLink="who-we-are" routerLinkActive="active">Who We Are</a>
      <a routerLink="what-we-do" routerLinkActive="active">What We Do</a>
      <!-- <a routerLink="why-join-unexo" routerLinkActive="active">Why Join UNEXO</a>
      <a routerLink="culture" routerLinkActive="active">Culture</a> -->
      <a routerLink="why-join-unexo">Why Join UNEXO</a>
      <a routerLink="">Culture</a>
      <a routerLink="">Privacy Policy</a>
      <a routerLink="vision">Vision And Mission</a>
      <a routerLink="">Management Team</a>
      <a routerLink="">Purpose</a>
    </div>
    <div class="footer_links-section">
      <h4>Industry</h4>
      <a routerLink="">Technology</a>
      <a routerLink="">Education</a>
      <a routerLink="">Government</a>
      <a routerLink="">Financial Services</a>
    </div>
    <div class="footer_links-section">
      <h4>Offering</h4>
      <!-- <a routerLink="training" routerLinkActive="active">Training</a>
      <a routerLink="skill-development" routerLinkActive="active">Skill Development</a>
      <a routerLink="consulting" routerLinkActive="active">Consulting</a>
      <a routerLink="funds-raising" routerLinkActive="active">Funds Raising</a>
      <a routerLink="merger" routerLinkActive="active">Merger and Aquision</a>
      <a routerLink="global" routerLinkActive="active">Global Market Research</a> -->
      <a routerLink="">Training</a>
      <a routerLink="">Skill Development</a>
      <a routerLink="">Consulting</a>
      <a routerLink="">Funds Raising</a>
      <a routerLink="">Merger and Aquision</a>
      <a routerLink="">Global Market Research</a>
    </div>
    <div class="footer_links-section">
      <h4>Contact Us</h4>
      <a routerLink="">023535-265632</a>
      <a routerLink="">unexoindia.com</a>
    </div>
  </div>
</div>
<div class="unexo__footer--mark">
  ALL RIGHTS RESERVED. &#169; 2020 UNEXO&trade; DESIGN BY : UNEXO INDIA
</div>
