<!-- <div class="forgotpass_main">
  <div class="overflow_controller">
    <div id="login">
      <div class="forgotpass_container">
        <img src="../../../assets/images/UnexoLogo.png" alt="unexo logo">
        <h1>HR Log In</h1>
        <form #HrLogIn="ngForm" (ngSubmit)="hrLogin(HrLogIn)">
          <input type="email" name="email" ngModel required #email="ngModel" placeholder="Enter Email" email>
          <div class="form_validate" *ngIf="email.invalid && email.touched">
            Enter a Valid Email.
          </div>
          <div class="unexopassword1">
            <input [type]="showPassword1 ? 'text' : 'password'" name="password" ngModel required #password="ngModel"
              placeholder="Enter password"
              pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
            <i [ngClass]="showPassword1?'far fa-eye unexopasswordlogo1': 'far fa-eye-slash unexopasswordlogo1'"
              id="unexopasswordlogo1" (click)="togglepassword1()"></i>
            <div class="form_validate" *ngIf="password.invalid && password.touched">
              Password minimum length should be 8 digits And should include atleast one lowercase,one uppercase,one
              number
              and one special charcater.
            </div>
          </div>

          <button class="unexo__primary--btn" type="submit" [disabled]="!HrLogIn.valid">LogIn</button>
        </form>
        <a routerLink="/forgot-password">Forgot password?</a>
        <a (click)="SignUpSwitch()"><span>Not Yet Registered?</span> Sign Up</a>
      </div>
    </div>

    <div id="signup">
      <div class="forgotpass_container">
        <img src="../../../assets/images/UnexoLogo.png" alt="unexo logo">
        <h1>HR Sign Up</h1>
        <form #HrSignUp="ngForm" (ngSubmit)="hrSignup(HrSignUp)">
          <input type="text" name="firstName" ngModel minlength="3" maxlength="20" placeholder="First Name"
            #firstName="ngModel" pattern="^[a-zA-Z ]*$" required>
          <div class="form_validate" *ngIf="firstName.invalid && firstName.touched">
            First Name is required . <br> Numbers & Special Characters Not Allowed. <br>
            Minimum length Should be 3.
          </div>
          <input type="text" name="lastName" ngModel minlength="3" maxlength="20" placeholder="Last Name"
            #lastName="ngModel" pattern="^[a-zA-Z ]*$" required>
          <div class="form_validate" *ngIf="lastName.invalid && lastName.touched">
            Last Name is required . <br> Numbers & Special Characters Not Allowed. <br>
            Minimum length Should be 3.
          </div>
          <input type="email" name="email" ngModel #email="ngModel" placeholder="Email" email required>
          <div class="form_validate" *ngIf="email.invalid && email.touched">
            Enter a Valid Email.
          </div>
          <input type="number" name="phoneNo" ngModel id="phoneNo" #phoneNo="ngModel" placeholder="Mobile No"
            pattern="^[0-9]{10}$" minlength=10 maxlength="10" required>
          <div class="form_validate" *ngIf="phoneNo.invalid && phoneNo.touched">
            Enter a Valid 10 digit Mobile No.
          </div>
          <div id="unexopassword2">

            <input [type]="showPassword2 ? 'text' : 'password'" name="password" ngModel #password="ngModel"
              placeholder="Password" required
              pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
            <i [ngClass]="showPassword2?'far fa-eye ': 'far fa-eye-slash'" id="unexopasswordlogo2"
              (click)="togglepassword2()"></i>
            <div class="form_validate" *ngIf="password.invalid && password.touched">
              Password minimum length should be 8 digits And should include atleast one lowercase,one uppercase,one
              number
              and one special charcater.
            </div>
          </div>
          <div id="unexopassword2">

            <input [type]="showPassword2 ? 'text' : 'password'" name="confirmPassword" ngModel
              #confirmPassword="ngModel" placeholder="Confirm Password"
              pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" required>
            <i [ngClass]="showPassword2?'far fa-eye ': 'far fa-eye-slash'" id="unexopasswordlogo2"
              (click)="togglepassword2()"></i>
            <div class="form_validate" *ngIf="confirmPassword.invalid && confirmPassword.touched">
              Password minimum length should be 8 digits And should include atleast one lowercase,one uppercase,one
              number
              and one special charcater.

            </div>
          </div>
          <div class="form_validate" *ngIf="matchPassword">
            Password did not match.
          </div>
          <input type="text" [(ngModel)]="hr" name="userType" hidden>
          <re-captcha (resolved)="resolved($event)" siteKey="6LeyFuIZAAAAAPruOXL6x_X8OXCwDnXxC3zItyp7" required>
          </re-captcha>
          <div class="form_validate" *ngIf="verifyCaptcha">
            <br>
            Please Tick The Recaptcha Box.
          </div>
          <br>
          <button class="unexo__primary--btn" type="submit" [disabled]="!HrSignUp.valid">SignUp</button>
        </form>
        <a (click)="LogInSwitch()"> <span>Already Registered? </span> Log In</a>

      </div>
    </div>
  </div>
</div> -->


<div class=" unexo__frame">
  <div class="unexo__bg--clip">

  </div>
  <div class="unexo__bg--clip-child">

  </div>
  <div class="unexo__slider unexo__hr--bg">

  </div>
  <div class="unexo__login--card" style="overflow-x: hidden;">
    <div class="unexo_login" style="overflow-x: hidden;" id="login">

      <form #HrLogIn="ngForm" (ngSubmit)="hrLogin(HrLogIn)">
        <img class="unexo__form--logo" src="../../../assets/images/UnexoLogo.png" alt="unexo logo">
        <h2>HR LogIn</h2>
        <input type="email" name="email" ngModel required #email="ngModel" placeholder="Enter Email" email>
        <div class="form_validate" *ngIf="email.invalid && email.touched">
          Enter a Valid Email.
        </div>
        <div class="unexopassword1">
          <input id="pass" [type]="showPassword1 ? 'text' : 'password'" name="password" ngModel required
            #password="ngModel" placeholder="Enter password"
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}">
          <i [ngClass]="showPassword1?'far fa-eye unexopasswordlogo1': 'far fa-eye-slash unexopasswordlogo1'"
            id="unexopasswordlogo1" (click)="togglepassword1()"></i>
          <div class="form_validate" *ngIf="password.invalid && password.touched">
            Password minimum length should be 8 digits And should include atleast one lowercase,one uppercase,one
            number
            and one special charcater and no spaces allowed.
          </div>
        </div>
        <div class="unexo__button--container mb-4">
          <button class="unexo__primary--btn btn--width" type="submit" [disabled]="!HrLogIn.valid">LogIn</button>
          <button class="unexo__primary--btn btn--width" type="button" (click)="SignUpSwitch()">Sign Up</button>

        </div>
        <div class="unexo-signup-ques">
          <p>Not Yet Registered?</p> &nbsp;
        </div>
        <a style="margin: auto;" routerLink="/forgot-password">Forgot password?</a>

      </form>

    </div>

    <div class="unexo_signup" style="overflow-x: hidden;" id="signup">

      <form #HrSignUp="ngForm" (ngSubmit)="hrSignup(HrSignUp)">
        <img class="unexo__form--logo" src="../../../assets/images/UnexoLogo.png" alt="unexo logo">
        <h2>HR SignUp</h2>
        <input type="text" name="firstName" ngModel minlength="3" maxlength="20" placeholder="First Name"
          #firstName="ngModel" pattern="^[a-zA-Z ]*$" required>
        <div class="form_validate" *ngIf="firstName.invalid && firstName.touched">
          First Name is required . <br> Numbers & Special Characters Not Allowed. <br>
          Minimum length Should be 3.
        </div>
        <input type="text" name="lastName" ngModel minlength="3" maxlength="20" placeholder="Last Name"
          #lastName="ngModel" pattern="^[a-zA-Z ]*$" required>
        <div class="form_validate" *ngIf="lastName.invalid && lastName.touched">
          Last Name is required . <br> Numbers & Special Characters Not Allowed. <br>
          Minimum length Should be 3.
        </div>
        <input type="email" name="email" ngModel #email="ngModel" placeholder="Email" email required>
        <div class="form_validate" *ngIf="email.invalid && email.touched">
          Enter a Valid Email.
        </div>
        <input type="number" name="phoneNo" ngModel id="phoneNo" #phoneNo="ngModel" placeholder="Mobile No"
          pattern="^[0-9]{10}$" minlength=10 maxlength="10" required>
        <div class="form_validate" *ngIf="phoneNo.invalid && phoneNo.touched">
          Enter a Valid 10 digit Mobile No.
        </div>
        <div id="unexopassword2">

          <input id="pass2" [type]="showPassword2 ? 'text' : 'password'" name="password" ngModel #password="ngModel"
            placeholder="Password" required
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}">
          <i [ngClass]="showPassword2?'far fa-eye ': 'far fa-eye-slash'" id="unexopasswordlogo2"
            (click)="togglepassword2()"></i>
          <div class="form_validate" *ngIf="password.invalid && password.touched">
            Password minimum length should be 8 digits And should include atleast one lowercase,one uppercase,one
            number
            and one special charcater and no spaces allowed.
          </div>
        </div>
        <div id="unexopassword2">

          <input id="pass1" [type]="showPassword2 ? 'text' : 'password'" name="confirmPassword" ngModel
            #confirmPassword="ngModel" placeholder="Confirm Password"
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" required>
          <i [ngClass]="showPassword2?'far fa-eye ': 'far fa-eye-slash'" id="unexopasswordlogo2"
            (click)="togglepassword2()"></i>
          <div class="form_validate" *ngIf="confirmPassword.invalid && confirmPassword.touched">
            Password minimum length should be 8 digits And should include atleast one lowercase,one uppercase,one
            number
            and one special charcater and no spaces allowed.

          </div>
        </div>
        <div class="form_validate" *ngIf="matchPassword">
          Password did not match.
        </div>
        <!-- <input type="text" ngModel name="referralCode" maxlength="20" placeholder="Referral Code"> -->
        <input type="text" [(ngModel)]="hr" name="userType" hidden>
        <div
          style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:100 100;-webkit-transform-origin:100 100;">
          <re-captcha (resolved)="resolved($event)" siteKey="6LeyFuIZAAAAAPruOXL6x_X8OXCwDnXxC3zItyp7" required>
          </re-captcha>
        </div>

        <div class="form_validate" *ngIf="verifyCaptcha">
          <br>
          Please Tick The Recaptcha Box.
        </div>
        <br>
        <div class="unexo__button--container mb-1">
          <button class="unexo__primary--btn btn--width" type="submit" [disabled]="!HrSignUp.valid">SignUp</button>

          <button class="unexo__primary--btn btn--width" type="button" (click)="LogInSwitch()">Log In</button>

        </div>
      </form>
      <div class="unexo-signup-ques">
        <p>Already Member?</p> &nbsp;
      </div>
    </div>
  </div>
</div>



<div *ngIf="isLoading" class="loading_spinner-container">
  <app-loading-spinner></app-loading-spinner>
</div>
