<div class="forgotpass_main">
  <div class="overflow_controller">
    <div id="fpass" class="forgotpass_container">
      <img src="../../../assets/images/logo.jpeg" alt="unexo logo">
      <h1>Verify Your Mobile No</h1>
      <form #SendOtp="ngForm" (ngSubmit)="sendOtp(SendOtp)">
        <input type="number" name="phoneNo" [(ngModel)]="phoneNo" readonly placeholder="Enter Your Email-Id" required>
        <button type="submit" [disabled]="!SendOtp.valid">Send OTP</button>
      </form>
    </div>
    <div id="otp" class="forgotpass_container">
      <img src="../../../assets/images/logo.jpeg" alt="unexo logo">
      <h1>Enter OTP</h1>
      <form #SubmitOtp="ngForm" (ngSubmit)="submitOtp(SubmitOtp)">
        <input type="number" name="otp" ngModel required id="" placeholder="Enter OTP Received">
        <button type="submit" [disabled]="!SubmitOtp.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="loading_spinner-container">
  <app-loading-spinner></app-loading-spinner>
</div>
