<!-- <div class="forgotpass_main">
  <div class="overflow_controller">
    <div id="fpass" class="forgotpass_container">
      <img src="../../../assets/images/logo.jpeg" alt="unexo logo">
      <h1>Forgot Password</h1>
      <form #SendOtp="ngForm" (ngSubmit)="sendOtp(SendOtp)">
        <input type="email" name="email" ngModel placeholder="Enter Your Email-Id" required>
        <button type="submit" [disabled]="!SendOtp.valid">Send OTP</button>
      </form>
    </div>
    <div id="otp" class="forgotpass_container">
      <img src="../../../assets/images/logo.jpeg" alt="unexo logo">
      <h1>Enter OTP</h1>
      <form #SubmitOtp="ngForm" (ngSubmit)="submitOtp(SubmitOtp)">
        <input type="number" name="otp" ngModel required id="" placeholder="Enter OTP Received">
        <button type="submit" [disabled]="!SubmitOtp.valid">Submit</button>
      </form>
      <a style="color: blue;" type="button" (click)="sendOtp(SendOtp)">Resend Otp</a>
    </div>
    <div id="reset" class="forgotpass_container">
      <img src="../../../assets/images/logo.jpeg" alt="unexo logo">
      <h1>Reset Now</h1>
      <form #SubmitPass="ngForm" (ngSubmit)="submitPassword(SubmitPass)">
        <input type="password" name="password" ngModel required #password="ngModel" placeholder="Enter new password"
          pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
        <div class="form_validate" *ngIf="password.invalid && password.touched">
          Password minimum length should be 8 digits And should include atleast one lowercase,one uppercase,one number
          and one special charcater.
        </div>
        <button type="submit" [disabled]="!SubmitPass.valid">Submit</button>
      </form>
    </div>
  </div>
</div> -->

<div class=" unexo__frame">
  <div class="unexo__bg--clip">

  </div>
  <div class="unexo__bg--clip-child">

  </div>
  <div class="unexo__slider">

    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"> -->
    <!-- <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol> -->
    <!-- <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../../assets/images/img3.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../assets/images/img2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../../assets/images/img1.jpg" alt="Third slide">
        </div>
      </div> -->
    <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
    <!-- </div> -->
  </div>
  <div class="unexo__login--card">
    <div id="fpass" class="unexo__flex--col  pb-5">
      <br><br><br><br><br>
      <img class="unexo__form--logo " style="margin: auto;" src="../../../assets/images/UnexoLogo.png" alt="" srcset="">

      <h1 class="unexo__heading">Forgot Password</h1>
      <form #SendOtp="ngForm" (ngSubmit)="sendOtp(SendOtp)">
        <input type="email" name="email" ngModel placeholder="Enter Your Email-Id" required>
        <button class="unexo__primary--btn" type="submit" [disabled]="!SendOtp.valid">Send OTP</button>
      </form>
    </div>
    <div id="otp" class="unexo__flex--col  pb-5">
      <br><br><br><br><br>
      <img class="unexo__form--logo " style="margin: auto;" src="../../../assets/images/UnexoLogo.png" alt="" srcset="">

      <h1 class="unexo__heading">Enter OTP</h1>
      <form #SubmitOtp="ngForm" (ngSubmit)="submitOtp(SubmitOtp)">
        <input type="number" name="otp" ngModel required id="" placeholder="Enter OTP Received">
        <button class="unexo__primary--btn" type="submit" [disabled]="!SubmitOtp.valid">Submit</button>
      </form>
      <a style="color: blue;" type="button" (click)="sendOtp(SendOtp)">Resend Otp</a>
    </div>
    <div id="reset" class="unexo__flex--col  pb-5">
      <br><br><br><br><br>
      <img class="unexo__form--logo " style="margin: auto;" src="../../../assets/images/UnexoLogo.png" alt="" srcset="">

      <h1 class="unexo__heading">Reset Now</h1>
      <form #SubmitPass="ngForm" (ngSubmit)="submitPassword(SubmitPass)">
        <input type="password" name="password" ngModel required #password="ngModel" placeholder="Enter new password"
          pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
        <div class="form_validate" *ngIf="password.invalid && password.touched">
          Password minimum length should be 8 digits And should include atleast one lowercase,one uppercase,one number
          and one special charcater.
        </div>
        <button class="unexo__primary--btn" type="submit" [disabled]="!SubmitPass.valid">Submit</button>
      </form>
    </div>
  </div>
  <div *ngIf="isLoading" class="loading_spinner-container">
    <app-loading-spinner></app-loading-spinner>
  </div>
