:root {
  /* --primary-color: #18174d; */
  --primary-color: #0c2140;
  /* --primary-color: rgb(252, 213, 219); */

  --primary-light-color: #551a8b;
  /* --secondary-color: #ff3333; */
  --secondary-color: #ffb100;
  --accent-color: #ffcc00;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-weight: 400;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Lato", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* header */
.unexo__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: #f0efef;
  padding: 1vh 3rem;
  z-index: 1000;
}
.unexo__header--loggedin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: var(--primary-color);
  padding: 1vh 3rem;
  z-index: 1000;
}
.unexo__header--area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.unexo__logo img {
  width: 14rem;
  height: 7vh;
}
.unexo__header-cta {
  margin: 0;
  display: flex;
  align-items: center;
}
.unexo__header-cta a {
  color: #ffffff;
  font-size: 1.6rem;
  margin-right: 1rem;
}
.unexo__header-cta a:hover {
  color: white;
  text-decoration: none;
}
.unexo__header-cta a img {
  transform: rotate(90deg);
  filter: invert(100%) sepia(4%) saturate(316%) hue-rotate(105deg)
    brightness(115%) contrast(100%);
}
.user_info a {
  color: white !important;
}
.unexo__primary--btn {
  font-size: 1.4rem;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  padding: 0.4rem 2rem;
  color: white;
  border-radius: 25rem;
  font-family: "Lemon/Milk", sans-serif;
}
.unexo__primary--btn:hover {
  background-color: var(--secondary-color);
  cursor: pointer !important;
}
.unexo__mr {
  margin-right: 1rem;
}
.unexo__frame {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow-y: hidden;
}
.unexo__bg--clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: var(--secondary-color);
  z-index: 2;
  clip-path: polygon(100% 0, 100% 0, 70% 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(100% 0, 100% 0, 70% 100%, 0 100%, 0 0);
}
.unexo__bg--clip-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: var(--primary-color);
  z-index: 2;
  clip-path: polygon(100% 0, 99.5% 0, 68% 100%, 0 90%, 0 0);
  -webkit-clip-path: polygon(100% 0, 99.5% 0, 68% 100%, 0 100%, 0 0);
}
.unexo__slider {
  margin-left: auto;
  width: 85%;
  height: 100%;
  background-image: url("./assets/images/cropped-business-man-making-notes-from-his-smartphone-calendar-organizer-min.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.unexo__investor--bg {
  background-image: url("./assets/images/investorloginbg.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.unexo__hr--bg {
  background-image: url("./assets/images/hrloginbg.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.unexo__login--card {
  position: absolute;
  bottom: 2%;
  left: 10%;
  width: 40rem;
  /* height: 40rem; */
  height: auto;
  overflow-y: scroll;
  z-index: 999;
  background-color: white;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  border-radius: 0.4rem;
}
@media screen and (max-width: 400px) {
  .unexo__login--card {
    left: 5%;
    width: 35rem;
  }
}
.unexo__login--card::-webkit-scrollbar {
  display: none;
}
#carouselExampleIndicators {
  height: 90vh;
}
#carouselExampleIndicators img {
  height: 90vh;
  object-fit: cover;
}
/* unexo login */
.unexo_login,
.unexo_signup {
  padding: 4rem;
  font-size: 1.6rem;
  padding-bottom: 0.8rem;
}
.unexo_signup {
  display: none;
}

.unexo__form--logo {
  height: 7rem;
  width: 7rem;
  margin-bottom: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.unexo_login form h2,
.unexo_signup form h2 {
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: var(--primary-color);
}
.unexo_signup-sub {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.unexo_signup-sub input {
  margin: 0;
}
label {
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 5px;
}
form input,
form select,
form textarea {
  margin-bottom: 1rem;
  width: 100%;
  background-color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border: solid 1px #0c2140;
  border-radius: 30px;
  font-size: 16px; /*zoom*/
  color: var(--primary-color);
  font-weight: 600;
}
::placeholder {
  color: gray;
  opacity: 1;
  font-weight: 400;
}
.unexo__button--container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn--width {
  width: 40%;
  font-family: "Lato", sans-serif;
}
/* button[type="submit"],
button[type="button"] {
  padding: 1rem 5rem;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  color: white;
  outline: none;
}
button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: var(--secondary-color);
} */
button[type="submit"]:focus,
button[type="button"]:focus,
input[type="button"]:focus {
  outline: none;
}
.unexo-signup-ques {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.unexo-signup-ques p {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: gray;
  margin-bottom: 2rem;
}
.unexo_login a {
  font-size: 1.4rem;
  font-weight: 600;
  align-self: center;
  text-transform: uppercase;
  color: var(--primary-color);
}
.unexo_login a:hover {
  color: var(--primary-color);
}
@media screen and (max-height: 670px) {
  .unexo_signup {
    padding: 1rem 4rem;
    font-size: 1.6rem;
    padding-bottom: 0.2rem;
  }
  .unexo_signup form h2 {
    margin-bottom: 0.5rem;
  }
  form {
    margin-bottom: 0.5rem;
  }
  form input {
    margin-bottom: 0.5rem;
  }
  .unexo__form--logo {
    margin-bottom: 0.5rem;
  }
  .unexo-signup-ques p {
    margin-bottom: 0.5rem;
  }
}
/* office environment */
.office-environment {
  background-image: url("./assets/images/img1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10rem;
}
.office-environment-text {
  background-color: #fef2ed;
  padding: 8rem;
  width: 45rem;
  text-align: center;
  color: #1d2547;
}
.office-environment-text h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
}
.office-environment-text p {
  margin-bottom: 2rem;
  font-size: 3rem;
  line-height: 1.1;
}
@media screen and (max-width: 500px) {
  .office-environment-text {
    width: 35rem;
  }
  .office-environment-text h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .office-environment-text p {
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 1.1;
  }
}
@media screen and (max-width: 400px) {
  .office-environment {
    padding: 5rem;
  }
  .office-environment-text {
    width: 30rem;
  }
}
@media screen and (max-width: 350px) {
  .office-environment-text {
    width: 25rem;
    padding: 4rem;
  }
}
/* consulting-services */
.consulting-services {
  background-color: #f8bccb;
  padding: 5rem;
}
.consulting-services-question {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.consulting-services-question h2 {
  font-size: 3rem;
  color: #cc0033;
}
.consulting-services-question p {
  color: black;
  font-size: 1.6rem;
}
.consulting-services-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.consulting-services-btn input {
  background-color: var(--secondary-color);
  color: white;
  padding: 2rem 4rem;
  border: none;
  border-radius: 50px;
  border: solid 2px var(--secondary-color);
}
.consulting-services-btn input:hover {
  background-color: white;
  color: var(--secondary-color);
}
.consulting-services-btn b {
  margin-top: -2.5rem;
  color: var(--secondary-color);
}
/* footer */
.unexo__footer {
  padding: 5rem 0rem;
  background-color: var(--secondary-color);
  width: 100%;
  font-size: 1.4rem;
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;
}
.unexo__footer--left {
  width: 30%;
}
.unexo__footer--section {
  width: 68%;
  height: 22rem;
  background-color: var(--primary-color);
  /* position: relative; */
}
.unexo__footer--section img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 35%;
}
.footer_links {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer_links-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  text-transform: uppercase;
}
.footer_links-section h4 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 2rem;
  font-weight: bold;
}
.footer_links-section a {
  font-weight: bold;
  color: var(--primary-color);
}
.footer_links-section a:hover {
  color: white;
  text-decoration: none;
}
.unexo__footer--mark {
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}
@media screen and (max-width: 1264px) {
  .unexo__footer {
    flex-direction: column;
  }
  .footer_links {
    width: 100%;
    align-self: center;
    padding: 1rem;
  }
  .unexo__footer--section {
    height: 15rem;
  }
}

.unexo__flex--col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.unexo__heading {
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
/* personal resume */
.main_personal-resume {
  padding: 2rem 0rem;
  text-transform: uppercase;
  box-shadow: lightgrey 1px 1px 8px 1px !important;
  border-radius: 0px !important;
}
.main_personal-resume-heading {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 2rem;
}
.main_personal-resume-heading h1,
.main_personal-resume-heading h5 {
  font-weight: bold;
}
.main_personal-resume-content {
  height: 100%;
}
.main_personal-resume-content-subheader {
  padding: 1.5rem;
  width: 100%;
  font-size: 1.6rem;
}
.main_personal-resume-content-header {
  padding: 1.5rem;
  width: 100%;
  font-size: 1.6rem;
  color: white;
}

.header-flex {
  display: flex;
  align-items: center;
}
.button-cont {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.main_personal-resume input,
.main_personal-resume textarea,
.main_personal-resume select {
  /* background-color: whitesmoke; */
  /* color: black; */
  font-size: 16px; /*  zoom */
}
.main_personal-resume button {
  margin-right: 3px;
}
.active {
  color: var(--secondary-color) !important;
}
a[disabled] {
  color: white !important;
}
/* opportunity */
.main-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)),
    url("./assets/images/opportunity.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 90vh;
  font-size: 1.6rem;
}
.main-bg h1 {
  position: absolute;
  color: var(--secondary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}
.opportunity_main {
  background-color: #fbebef;
  font-size: 1.6rem;
  padding: 4rem;
}
.opportunity_main h2 {
  color: var(--primary-color);
  font-size: 4rem;
  text-align: center;
}
.opportunity_main h3 {
  color: var(--secondary-color);
  font-size: 2rem;
}
/* corporate */
.corporate-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)),
    url("./assets/images/corporate.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 90vh;
  font-size: 1.6rem;
}
.corporate-bg h1 {
  position: absolute;
  color: var(--secondary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}
.corporate_main {
  background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)),
    url("./assets/images/training1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
  overflow-y: scroll;
}
.corporate-main-info {
  position: absolute;
  /* top: 0;
  left: 50%; */
  /* transform: translateX(-50%); */
  color: white;
  padding: 8rem;
}
.corporate-main-info h2 {
  color: var(--secondary-color);
  font-size: 4rem;
  margin-bottom: 2rem;
}
.corporate-main-info h3 {
  color: var(--secondary-color);
  font-size: 2rem;
  margin-bottom: 2rem;
}
.corporate-main-info p {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
/* who-we-are */
.who-bg {
  background: url("./assets/images/spot-bg-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 90vh;
  font-size: 1.6rem;
}
.who_circle {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 40rem;
  height: 40rem;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
  padding: 5rem;
}
.who_circle h1 {
  font-size: 3rem;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 1rem;
}
.who_circle p {
  color: black;
  line-height: 1.5;
  text-align: center;
}
.who_main {
  width: 100%;
  padding: 8rem;
  font-size: 1.6rem;
}
.who_main h2 {
  font-size: 4rem;
  color: var(--primary-color);
  margin-bottom: 2rem;
  text-align: center;
}
.who_main p {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.collab {
  background: url("./assets/images/spot-bg-02.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
}
.collab-circle p {
  font-size: 1.4rem;
}
.what_main-info {
  padding: 4rem;
}
.what_main-info h2 {
  font-size: 4rem;
  color: var(--secondary-color);
  margin-bottom: 2rem;
}
.what_main-info p {
  font-size: 2rem;
  line-height: 2;
}
.what_main-img {
  padding: 4rem;
  width: 100%;
  overflow: hidden;
}
.what_main-img img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
/* culture */
.culture-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)),
    url("./assets/images/team.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 90vh;
  font-size: 1.6rem;
}
.culture-bg h1 {
  position: absolute;
  color: var(--secondary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}
/* training */
.training-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)),
    url("./assets/images/training.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 90vh;
  font-size: 1.6rem;
}
.training-bg h1 {
  position: absolute;
  color: var(--secondary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}
.expert_consultants {
  width: 100%;
  padding: 4rem;
}
.expert_consultants h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--primary-color);
}
.expert_consultants-section {
  width: 100%;
  padding: 1rem;
}
.expert_consultants-section-img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
.expert_consultants-section-img img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.expert_consultants-section h3 {
  color: var(--primary-color);
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.expert_consultants-section p {
  color: var(--primary-color);
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
/* skill development */
.skill-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)),
    url("./assets/images/skills.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 90vh;
  font-size: 1.6rem;
}
.skill-bg h1 {
  position: absolute;
  color: var(--secondary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}
.consulting-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)),
    url("./assets/images/consulting.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 90vh;
  font-size: 1.6rem;
}
.consulting-bg h1 {
  position: absolute;
  color: var(--secondary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}
.funds-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)),
    url("./assets/images/funds.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 90vh;
  font-size: 1.6rem;
}
.funds-bg h1 {
  position: absolute;
  color: var(--secondary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}
.merger-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)),
    url("./assets/images/merger.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 90vh;
  font-size: 1.6rem;
}
.merger-bg h1 {
  position: absolute;
  color: var(--secondary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}
.global-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.712)),
    url("./assets/images/global.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 90vh;
  font-size: 1.6rem;
}
.global-bg h1 {
  position: absolute;
  color: var(--secondary-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important ;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  color: white !important;
}
.resume_form-group input:-webkit-autofill,
.resume_form-group input:-webkit-autofill:hover,
.resume_form-group input:-webkit-autofill:focus,
.resume_form-group input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important ;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  /* color: black !important; */
}
.resume_form-group {
  margin: 2rem 0rem;
}
.form_validate {
  margin-left: 1rem;
  align-self: flex-start;
  font-size: 1.2rem;
  color: red;
  font-weight: 600;
  margin-top: -0.8rem;
  text-transform: capitalize;
}
input.ng-invalid.ng-touched {
  border: 1px solid red;
}
button[disabled] {
  background-color: #434446;
  cursor: default;
}
button[disabled]:hover {
  background-color: #434446;
}
.loading_spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.493);
}
.btn_holder {
  padding: 1rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.btn_holder button {
  padding: 0.8rem 1.5rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  width: 17rem;
}
.main_profile-container {
  width: 100%;
  padding: 1rem;
}
.main_profile {
  width: 100%;
  /* padding: 2rem; */
  box-shadow: lightgrey 1px 1px 8px 1px;
}
.main_profile h1 {
  font-weight: bold;
  color: var(--primary-color);
}
.main_profile h3 {
  /* display: inline-block; */
  color: #101010;
}
.main_profile p {
  /* padding-right: 0.5rem;
  display: inline-block; */
  margin-bottom: 0.1rem !important;
  font-size: 1.6rem;
  color: #808080;
}
.main_profile .img_container {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  overflow: hidden;
  background: white;
  padding: 0.3rem;
}
.main_profile img {
  border-radius: 50%;

  width: 100%;
  height: 100%;
}
.main_profile .col-md-6 {
  margin-bottom: 1rem;
}
.table_container {
  text-transform: uppercase;
  font-size: 1.6rem;
  box-shadow: solid grey 2px 2px 2px 2px;
}
.table_header {
  width: 100%;
  padding: 2rem 4rem;
  color: var(--primary-color);
}
.table_header h2 {
  text-align: right;
  font-weight: 600;
  font-size: 1.6rem;
}
.unexo__excel {
  font-size: 1.2rem;
}
.unexo__excel:hover {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 575px) {
  .table_header h2 {
    text-align: center;
  }
}
th {
  background-color: #f0efef !important;
  color: var(--primary-color) !important;
  border: none !important;
  padding: 1rem 4rem !important;
  font-size: 1.2rem;
  text-align: center !important;
}
td {
  color: var(--primary-color) !important;
  text-align: center;
  font-weight: 600;
  border: none !important;
  padding: 1rem 4rem !important;
  font-size: 1.2rem;
}

mat-form-field,
.example-full-width {
  font-size: 1.6rem !important;
  width: 100% !important;
  margin-bottom: 2rem;
}
.main_personal-resume-heading .table_tile {
  padding-right: 1rem;
  color: grey;
}
.job_applicants-data {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  color: grey;
  flex-wrap: wrap;
  padding: 1.6rem !important;
  padding-bottom: 0rem !important;
  margin-bottom: 0rem !important;
}
.job_applicants-data div {
  padding-bottom: 1rem;
}
.apply--btn {
  order: 2 !important;
}
.key_skills {
  display: inline-block;
  color: white;
  background-color: var(--secondary-color);
  border-radius: 2rem;
  padding: 0rem 1rem;
  margin-right: 1rem;
}

.main_profile-header-flex {
  padding: 2rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_profile-header-container {
  text-align: center;
  width: 90%;
}
.main_profile-header-container h1,
.main_profile-header-container h5 {
  color: var(--primary-color);
  font-weight: 600;
}
.main_profile-header-flex button {
  padding: 0rem;
  margin: 0rem;
  font-size: 1.6rem;
  background-color: white;
  color: black;
}
.main_profile-header-flex button:hover {
  background-color: white;
}
.unexo_label-holder {
  display: inline-block;

  position: relative;
}
.unexo_label {
  visibility: hidden;
  padding: 0.3rem;
  position: absolute;
  top: 100%;
  left: -80%;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  white-space: nowrap;
  border-radius: 0.4rem;
  z-index: 100;
}
.unexo_label-holder:hover .unexo_label {
  visibility: visible;
}
.unexo_dashboard-holder {
  margin: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: lightgrey 1px 1px 8px 1px !important;
  border-radius: 0px !important;
}
.unexo_dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.unexo_dashboard-holder p {
  font-size: 1.4rem !important;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
}
.router__background {
  margin-top: 10vh;
}
.router__background--loggedin {
  margin-top: 10vh;
  padding: 3rem;
}
.mat__card--container {
  margin: 1rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: var(--primary-color);
}
.unexo__h1 {
  font-size: 2rem;
  font-weight: 600;
}
.unexo__mb {
  margin-bottom: 1rem;
}
.unexo__notifications-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  border-radius: 50%;
  height: 0.7rem;
  width: 0.7rem;
}
.unexo__notifications--panel {
  margin: 1rem;
  padding: 0rem !important;
  text-transform: uppercase;
  font-family: "Lato", sans-serif !important;
}

.unexo__notifications--content {
  font-weight: 500;

  font-size: 1.4rem;
  padding: 1rem 4rem;
  margin: 0;
  font-family: "Lato", sans-serif !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}
.notifications--h1 {
  font-size: 1.6rem !important;
  color: var(--primary-color);
  font-weight: 600 !important;
  padding: 2rem 0rem !important;
  display: block;
  text-align: center;
}
.notifications__bg {
  background-color: #f0efef;
}

.admin_header-container {
  padding: 1rem;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif !important;

  /* position: -webkit-sticky;
  position: sticky;
  top: 12vh; */
}
mat-card {
  box-shadow: lightgrey 1px 1px 8px 1px !important;
  border-radius: 0px !important;
}
.mat-raised-button {
  font-weight: 600;
  color: var(--primary-color) !important;
}
.mat-raised-button:hover {
  font-weight: 600;
  color: var(--secondary-color) !important;
}
.mat-raised-button[disabled]:hover {
  color: var(--primary-color) !important;

  background-color: rgba(0, 0, 0, 0.12) !important ;
}
.unexo__side--dashboard {
  box-shadow: lightgrey 1px 1px 8px 1px !important;
  border-radius: 0px !important;
  padding: 2rem;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 600;
}
.unexo__side--dashboard h2 {
  font-weight: bold;
  font-size: 1.8rem;
  padding: 0.5rem 0rem;
}
.unexo__side--dashboard a {
  font-weight: 600;
  display: block;
  padding: 1rem 0rem;
  font-size: 1.4rem;
  color: var(--primary-color) !important;
}
.unexo__side--dashboard a:hover,
.unexo__side--dashboard a:active {
  color: var(--secondary-color) !important;
  text-decoration: none;
}
.admin_header-container h1 {
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  color: var(--primary-color);
}
.admin_header-container a {
  color: var(--primary-color) !important;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
.main_profile-section {
  text-transform: uppercase;
  overflow: hidden;
}
.main_profile-section h3 {
  color: var(--primary-color) !important;
  font-weight: 600;
}
.main_profile-section-bg {
  background-color: #f0efef;
  padding: 2rem;
  align-items: center;
}
.unexo__padding {
  padding: 0.5rem 2rem;
}
.unexo__slider--bg {
  width: 80%;
  height: 90vh;
  object-fit: cover !important;
}
mat-accordion {
  color: var(--primary-color) !important;
  text-transform: uppercase;
}
mat-expansion-panel {
  box-shadow: lightgrey 1px 1px 8px 1px !important;
  border-radius: 0px !important;
}
mat-card h4,
mat-card h1 {
  font-size: 1.6rem;
}
#unexopassword {
  position: relative;
  width: 100%;
}
#unexopassword3 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#unexopasswordlogo {
  position: absolute;
  right: 4px;
  top: 9px;
  cursor: pointer;
}

#unexopasswordlogo3 {
  position: absolute;
  right: 16px;
  top: 9px;
  cursor: pointer;
}
.example-card {
  font-family: "Lato", sans-serif !important;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 600;
}
.mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.mat-card-header-text {
  display: none;
}
.mat-card-title {
  font-weight: 900;
  margin-bottom: 0.2rem !important;
  text-align: left;
}
.mat-card-subtitle {
  text-align: left;
  margin: 0 !important;
}
.unexo__skills--container h4 {
  color: var(--primary-color);
  font-weight: 600;
}
.table_title {
  color: var(--primary-color);
}
.table_title b {
  color: var(--primary-color);
}
.unexo__mat--padding {
  padding: 0.4rem 0rem;
}
.unexo__job--details td {
  padding: 0rem !important;
  text-align: left !important;
  padding-right: 2rem !important;
}
.unexo__job--details h4 {
  font-weight: 600;
  color: grey;
}
#unexo__table--responsive {
  display: block !important;
  overflow: auto !important;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
#unexo__table--responsive::-webkit-scrollbar {
  width: 0%; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
#unexo__table--responsive::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 0.1px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}
.unexo__status--approval {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.unexo__required {
  color: red;
  font-size: 1.5rem;
}
mat-hint {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 1rem;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}
