<mat-card class="mat__card--container p-0">
  <div class="table_container">
    <div class="table_header">
      <div class="row">
        <div class="col-sm-6">
          <h2>Hr List</h2>

        </div>
        <div class="col-sm-6 text-right">
          <a class="unexo__primary--btn unexo__excel" [href]="filepath | safeHtml"><i class="far fa-file-excel"></i>
            &nbsp; Download
            Excel</a>
        </div>
      </div>
    </div>
    <table class="table table-sm table-responsive-md">
      <thead class="thead-dark">
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile No</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of userData;">
          <td>{{data.firstName}}</td>
          <td>{{data.lastName}}</td>
          <td>{{data.email}}</td>
          <td>{{data.phoneNo}}</td>
          <td><button class="unexo__primary--btn" type="button" (click)="deleteUser(data.userId)"><i
                class="far fa-trash-alt"></i></button></td>

        </tr>
      </tbody>
    </table>
    <mat-paginator class="unexo_mat-paginator" #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage"
      (page)="pageEvent = getUserData($event)">
    </mat-paginator>
    <br>
  </div>
</mat-card>
<div *ngIf="isLoading" class="loading_spinner-container">
  <app-loading-spinner></app-loading-spinner>
</div>
